h3 Games

each game in games
  h4
    a(href='/pitcher/' + pitcher.id + '/game/' + game.id) #{pitcher.playercity} #{pitcher.playerteam} vs. #{game.opponentcity} #{game.opponentname} (#{game.date.getMonth()+1}/#{game.date.getDate()+1}/#{game.date.getFullYear()})
  hr
  
