extends ./layout.jade



block body

  script(src='https://online.tableau.com/javascripts/api/tableau-2.js')
  script(type='text/javascript').
    window.onload = function() {
    var sheetDiv = document.getElementById("visualization");
    var sheetDiv2 = document.getElementById("another");
    var sheetDiv3 = document.getElementById("another2");
    var sheetDiv4 = document.getElementById("another3");
    var sheetURL = '#{game.tableau}';
    var sheetURL2 = '#{game.tableau2}';
    var sheetURL3 = '#{game.tableau3}';
    var sheetURL4 = '#{game.tableau4}';
    var sheetOptions = {
      hideTab: true,
      hideToolbar: true,
      width: "450px",
      height: "450px",
    };
    viz = new tableauSoftware.Viz(sheetDiv, sheetURL, sheetOptions);
    viz2 = new tableauSoftware.Viz(sheetDiv2, sheetURL2, sheetOptions);
    viz3 = new tableauSoftware.Viz(sheetDiv3, sheetURL3, sheetOptions);
    viz4 = new tableauSoftware.Viz(sheetDiv4, sheetURL4, sheetOptions);
    };
  .row
    .col-md-9
      #game-heading 
        h2 #{pitcher.firstname} #{pitcher.lastname} ##{pitcher.number}
        h3 #{pitcher.playercity} #{pitcher.playerteam} vs. #{game.opponentcity} #{game.opponentname} (#{game.date.getMonth()+1}/#{game.date.getDate()+1}/#{game.date.getFullYear()})
        a(href="/game/#{game.id}/update") Edit Game
        | | 
        a(href="/pitcher/#{game.pitcher_id}") Return to Pitcher Profile
    .col-md-3
      #scoreboard
        h2 Result
  .row
    .col-md-6
      if game.tableau  
        .well
          h4 Pitch Type and Location
          #visualization
    .col-md-6
      if game.tableau2
        .well
          h4 Pitch Result
          #another
  .row
    .col-md-6
      if game.tableau3 
        .well
          h4 Pitches and Locations
          #another2
    .col-md-6
      if game.tableau4
        .well
          h4 Pitches and Locations
          #another3

  script(type='text/javascript').
    $(function() {
      //- var month = '#{game.date.getMonth()+1}';
      var month = '#{game.date.getMonth()}';
      month = ('0' + month).slice(-2);
      //- var day = '#{game.date.getDate()+1}';
      var day = '#{game.date.getDate()}';
      day = ('0' + day).slice(-2);
      var year = '#{game.date.getFullYear()}';
      var scores = '/gameday/components.game.mlb.year_' + year + '.month_' + month + '.day_' + day + '.miniscoreboard.json';
      //- var scores = 'http://gd2.mlb.com/components/game/mlb/year_' + year + '/month_' + month + '/day_' + day + '/miniscoreboard.json';
      //- var scores = "http://gd2.mlb.com/components/game/mlb/year_2016/month_04/day_14/miniscoreboard.json";
      $.getJSON(scores, function(gameResults) {
        var games = gameResults.data.games.game;
        for(i=0; i<games.length; i++) {
          if((games[i].away_team_city === '#{pitcher.playercity}') || (games[i].home_team_city === '#{pitcher.playercity}')) {
            $('#scoreboard').after(
              '<table class="table">' +
              '<tr class="blackrow">' +
              '<td style="font-weight: bold;">Team</td>' +
              '<td style="font-weight: bold;" class="score">Runs</td>' +
              '<td style="font-weight: bold;" class="score">Hits</td>' +
              '<td style="font-weight: bold;" class="score">Errors</td>' +
              '</tr>' +
              '<tr class="blackrow">' +
              '<td>'+
              games[i].home_team_city + ' ' + games[i].home_team_name +
              '</td>' +
              '<td class="score">' +
              games[i].home_team_runs +
              '</td>' +
              '<td class="score">' +
              games[i].home_team_hits +
              '</td>' +
              '<td class="score">' +
              games[i].home_team_errors +
              '</td>' +
              '</tr>' +
              '<tr class="blackrow">' +
              '<td>' +
              games[i].away_team_city + ' ' + games[i].away_team_name +
              '</td>' +
              '<td class="score">' +
              games[i].away_team_runs +
              '</td>' +
              '<td class="score">' +
              games[i].away_team_hits +
              '</td>' +
              '<td class="score">' +
              games[i].away_team_errors +
              '</td>' +
              '</tr>' +
              '</table>');
            }
          }
        });
      });
