extends ./layout.jade

block body
  if isAuthenticated()
    .well
      .row
        .col-md-1
          img.img-thumbnail(src=pitcher.picture)
        .col-md-11
          h3 #{pitcher.firstname} #{pitcher.lastname} ##{pitcher.number}, #{pitcher.playercity} #{pitcher.playerteam}
          h6 
            a(href='/pitcher/' + pitcher.id + '/game/create') Add a Game
            | |
            a(href='/pitcher/' + pitcher.id + '/update') Edit #{pitcher.firstname} #{pitcher.lastname}'s Profile
        .row
          .col-md-4
          .col-md-8.trythis
            script(type='text/javascript', src='#{pitcher.seasonstats}')
    .row
      .col-md-3
        include ./partials/games.jade
      .col-md-9
        h3 Stats
        if !(pitcher.profile)
          h5 Edit #{pitcher.firstname} #{pitcher.lastname}'s profile to add his stats.
        else
          .trythis
            script(type='text/javascript', src='#{pitcher.profile}')
    
  else
    p Log in to add a game
