extends ./layout.jade

block body
  if isAuthenticated()
    .well
      .row
        .col-md-1
          img.img-thumbnail(src=pitcher.picture)
        .col-md-11
          h3 #{pitcher.firstname} #{pitcher.lastname} ##{pitcher.number}, #{pitcher.playercity} #{pitcher.playerteam}
          h6 
            a(href='/pitcher/' + pitcher.id + '/game/create') Add a Game
            | |
            a(href='/pitcher/' + pitcher.id + '/update') Edit #{pitcher.firstname} #{pitcher.lastname}'s Profile
            | |
            a(href='/rotation/' + pitcher.rotation_id) Return to the Rotation
        .row
          .col-md-4
          .col-md-8
            script(type='text/javascript', src='#{pitcher.seasonstats}')
    .row
      .col-md-3
        h3 Games
        if games.length > 0  
          include ./partials/games.jade
        else
          h5 You haven't added any of #{pitcher.firstname} #{pitcher.lastname}'s Games.
      .col-md-9
        h3 Stats
        if !(pitcher.profile)
          h5 Edit #{pitcher.firstname} #{pitcher.lastname}'s profile to add his stats.
        else
          script(type='text/javascript', src='#{pitcher.profile}')
    
  else
    p Log in to add a game
